We will be using [Spam Detection Dataset](https://www.kaggle.com/uciml/sms-spam-collection-dataset) from Kaggle and build models to predict whether a text is spam or not.

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

# from google.colab import files
# uploaded = files.upload()

df = pd.read_csv("spam.csv", encoding="latin-1")
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
df = df.dropna(how="any", axis=1)
df.columns = ['label', 'text']
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

Note that this is an imbalanced dataset and keep that in mind while building the model.

In [1]:
4825/(4825+747), 747/(4825+747)

(0.8659368269921034, 0.13406317300789664)

In [4]:
df['text_length'] = df['text'].apply(lambda x: len(x.split(' ')))
df.head()

  label                                               text  text_length
0   ham  Go until jurong point, crazy.. Available only ...           20
1   ham                      Ok lar... Joking wif u oni...            6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...           28
3   ham  U dun say so early hor... U c already then say...           11
4   ham  Nah I don't think he goes to usf, he lives aro...           13

In [19]:
df['text_length'].min(), df['text_length'].max()

(1, 171)

In [7]:
from sklearn.model_selection import train_test_split
# default is 75% / 25% train-test split
X = df['text'] 
y = df['label'].replace({'spam': 1, 'ham': 0})
X_train, X_valid, y_train, y_valid = train_test_split(X, y, random_state=0)

Exercises:
1. Build a Logistic classifier 
    - Write the function to clean text 
    - Define a vectorizer (count or TFIDF) and fit it for train and validation sets
    - Train a logistic classifer 
    - Check the accuracy
    - Test the prediction on a few texts that you create
    - Compute other metrics such as confusion matrix, precision, recall, F1 score, AU ROC, etc. Choose a metric (or more than one) most suitable for this model and give reasons.
    - Refine the model by tuning the vectorizer and see if it improves based on the above chosen metric(es).
2. Train a neutral network 
    - Vectorize using `Tokenizer` from `keras` and pad the sequences so that all texts are of the same length. Choose the length of the text carefully.
    - Define and compile the neural network
    - Train it
    - Compute other metrics such as confusion matrix, precision, recall, F1 score, AU ROC, etc. Choose a metric (or more than one) most suitable for this model and give reasons.
    - Refine the neural network by modifying the architecture/hyperparameters